<div layout="column">

    <md-content md-theme="docs-dark" layout="row" layout-padding layout-align="space-around">
        <div layout="column">
                <label>Web Request ID filter(s)</label>
                <md-chips ng-model="webRequestIDs" placeholder="Enter a WebRequestID" delete-button-label="Remove ID"
                          delete-hint="Press delete to remove ID" secondary-placeholder="+WebRequestID"></md-chips>
        </div>
        <div layout="column">
            <label>Page Sort Order</label>
            <md-select ng-model="autoRefreshSortDir" ng-change="resort()">
                <md-option ng-repeat="option in autoRefreshSortDirOptions" value="{{option.dir}}">
                    {{option.description}}
                </md-option>
            </md-select>
        </div>
        <div layout="column">
                <label>Auto Refresh</label>
                <md-switch ng-model="autoRefreshEnabled" aria-label="Auto Refresh" ng-change="adjustRefresh()">
                    {{ autoRefreshEnabled ? 'Enabled' : 'Disabled' }}
                </md-switch>
        </div>
        <div layout="column">
                <label>Refresh Frequency</label>
                <md-select ng-model="autoRefreshFrequency" ng-change="adjustRefresh()">
                    <md-option ng-repeat="freq in autoRefreshFrequencies" value="{{freq.delay}}">
                        {{freq.description}}
                    </md-option>
                </md-select>
        </div>



        <!--
        <h2 class="md-title">Web Request ID Filter</h2>
        <md-chips ng-model="webRequestIDs" placeholder="Enter a WebRequestID" delete-button-label="Remove ID" delete-hint="Press delete to remove ID" secondary-placeholder="+WebRequestID"></md-chips>
        -->
    </md-content>
</div>
<div ui-grid="{ data: logEntriesSorted }" class="logGrid"></div>

<div class="text-center" ng-if="paginate.meta.count > paginate.limit" ng-show="!$root.isMobile">
    <md-button
            class="md-raised md-primary"
            ng-disabled="paginate.page === 0"
            ng-click="loadData(paginate.page-1)">
        Previous
    </md-button>
    <md-button
            class="md-raised md-primary"
            ng-disabled="!paginate.meta.next"
            ng-click="loadData(paginate.page+1)">
        Next
    </md-button>
</div>